apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: velero
  namespace: velero
spec:
  interval: 1h0m0s
  chart:
    spec:
      chart: velero
      version: 11.3.2
      sourceRef:
        kind: HelmRepository
        name: velero
  values:
    deployNodeAgent: true
    nodeAgent:
      containerSecurityContext:
        privileged: true
    configuration:
      features: EnableCSI
      backupStorageLocation:
        - bucket: velero
          name: default
          provider: aws
          prefix: csi
          default: true
          config:
            region: minio
            s3ForcePathStyle: true
            s3Url: http://minio-frieren.minio.svc:9000
      volumeSnapshotLocation:
        - name: default
          provider: csi
    initContainers:
      - name: velero-plugin-for-aws
        image: velero/velero-plugin-for-aws:v1.13.2
        volumeMounts:
          - mountPath: /target
            name: plugins
    credentials:
      useSecret: true
      existingSecret: minio-credentials
    kubectl:
      image:
        repository: public.ecr.aws/bitnami/kubectl
        tag: latest
